<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
            <h1 class="display-4"><label th:text="${equipment.equipmentName}"></label></h1>
            <div class="form-row">
                <div class="form-group col-md-3">
                <img style="width: 100%;" th:src="@{'~/'+${file}}" />

                </div>
                <div class="form-group col-md-5" style="font-size: 20px">
                    <div class="form-group col-md-12">
                        <label> <b>Alder</b> </label><br/>
                        <label th:text="${equipment.equipmentAge}"></label>
                    </div>
                    <div class="form-group  col-md-12">
                        <label><b>Pris</b> </label><br/>
                        <label th:text="${equipment.priceFromNew}"></label>
                    </div>
                    <div class="form-group  col-md-12">
                        <label><b>Afhængighed</b> </label><br/>
                        <label th:text="${equipment.dependency}"></label>
                    </div>
                    <div class="form-group  col-md-12">
                        <label><b>Tilrådighed </b></label><br/>
                        <label th:if="${equipment.availableForLoan}">Tilgængelig</label>
                        <label th:unless="${equipment.availableForLoan}">Utilgængelig</label>

                    </div>
                    <div class="form-group  col-md-12">
                        <label><b>Mere info om udstyret </b></label><br/>
                        <label th:text="${equipment.ownerComment}"></label>
                    </div>
                    <div class="form-group col-md-12">
                        <label><b>Ejer</b> </label><br/>
                        <label th:text="${owner.firstName} + ' ' + ${owner.lastName} + ', ' + ${owner.telephoneNumber}"></label>
                    </div>
                </div>
            </div>


</body>
</html>