<div class="row">
    <h1 class="col-md-12"><label th:text="${equipment.equipmentName}"></label></h1>
</div>
<div class="row">
    <div class="col-md-5">
        <figure>
            <img th:src="@{'~/'+${file}}"/>
        </figure>
    </div>
    <div class="col-md-7" style="font-size: 20px; margin: 0px">
        <div class="form-group  col-md-12">
            <label> <b>Alder</b> </label>
            <label th:text="${equipment.equipmentAge}"></label>
        </div>
        <div class="form-group  col-md-12">
            <label><b>Pris</b> </label>
            <label th:text="${equipment.priceFromNew}"></label>
        </div>
        <div class="form-group  col-md-12">
            <label><b>Afhængighed</b> </label>
            <label th:text="${equipment.dependency}"></label>
        </div>
        <div class="form-group  col-md-12">
            <label><b>Tilgængelighed </b></label>
            <label th:if="${equipment.availableForLoan}">Ledig</label>
            <label th:unless="${equipment.availableForLoan}">Udlånt</label>

        </div>
        <div class="form-group  col-md-12">
            <label><b>Mere info om udstyret </b></label>
            <label th:text="${equipment.ownerComment}"></label>
        </div>
        <div class="form-group  col-md-12">
            <label><b>Ejer</b> </label>
            <label th:text="${owner.firstName} + ' ' + ${owner.lastName} + ', ' + ${owner.telephoneNumber}"></label>
        </div>
    </div>
</div>