<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../equipmentliststyle.css"/>

</head>
<body>

<!--
<div th:replace="/header"></div>
-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Liste over eget udstyr</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <td scope="col"></td>
                    <td scope="col">Navn på udstyr</td>
                    <td scope="col">Alder</td>
                    <td scope="col">Pris fra ny</td>
                    <td scope="col">Afhængighed</td>
                    <td scope="col">Mere info</td>


                </tr>
                </thead>

                <tbody style="font-size: 20px">
                <tr th:each="equipment:${equipments}">
                    <td><figure><img th:src="@{'/equipment/show/files/'+${equipment.fileName}}"/></figure></td>
                    <td th:text="${equipment.equipmentName}"></td>
                    <td th:text="${equipment.equipmentAge}"></td>
                    <td th:text="${equipment.priceFromNew}"></td>
                    <td th:text="${equipment.dependency}"></td>
                    <td th:text="${equipment.ownerComment}"></td>
                    <td>
                        <a th:href="'/equipment/show/'+${equipment.id}" class="btn btn-outline-success">Vis mere</a>

                    </td>
                </tr>
                </tbody>
            </table>




    </div>
</div>

</body>
</html>