<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til VinVennerne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>
<div th:replace="/header"></div>
<div class="container">
    <div class="row">
        <div th:each="equipment : ${newestEquipment}" class="col-sm-3">
            <figure>
                <a href="/equipment/details">

                    <img width="100%" th:src="@{'~/files/'+${equipment.fileName}}" alt="">
                    <figcaption th:text="${equipment.equipmentName}"></figcaption>
                </a>
            </figure>
        </div>
    </div>
</div>
</body>
</html>