<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="/header"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Liste over lån</h1>
<table class="table table-striped">
    <thead>
    <tr>

        <td scope="col">Navn på udstyr</td>
        <td scope="col">Startdato</td>
        <td scope="col">Slutdato</td>
        <td scope="col">Accepteret af ejer</td>


    </tr>
    </thead>

    <tbody style="font-size: 20px">
    <tr th:each="loan:${loans}">

        <td th:text="${loan.equipment.equipmentName}"></td>
        <td th:text="${loan.startDate}"></td>
        <td th:text="${loan.endDate}"></td>
        <td>
            <label th:if="${loan.accepted}">Accepteret</label>
            <label th:unless="${loan.accepted}">Ikke accepteret</label>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>