<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bruger udstyr view</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!--
<div th:replace="/header"></div>
-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div th:replace="/equipmentShowForm"></div>
        <div class="form-group col-md-12" >
            <!--<button class="btn btn-outline-primary" th:href="/user/equipment">Bestil udstyr</button>-->
        </div>
    </div>
</div>
</body>
</html>