<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Administratorer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:replace="/header"></div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Administratorer
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <td scope="col">Email</td>
                <td scope="col">Navn</td>
                <td scope="col">Telefon</td>
                <td scope="col">Adresse</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person:${persons}">
                <td th:text="${person.email}"></td>
                <td th:text="${person.lastName} + ', ' + ${person.firstName}"></td>
                <td th:text="${person.telephoneNumber}"></td>
                <td th:text="${person.address} + ', ' + ${person.zipcode}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>